@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

.spacing {
  color: #8800ff
  padding: 50px;
  display: flex;
  align-items: left;

  position: sticky;
  top:0;
  left:0;
}
.gfg{
  font-size: 40pt;
}

body{
  background-color: #404040;
  color: #80a090;
  font-family: 'Overpass', sans-serif;
}

.title{
  font-size: 5rem;
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
}

.gfg{
  font-size: 18pt;
}

.table-head{
  font-size: 20pt;
  text-align: left;
}
.table{
  font-size: 18pt;
  text-align: left;
}
.table-link{
  color: #8080ff
}

table, th, td {
  border: 1px solid white;
}
th, td {
  background-color: black;
}