@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body{
  background-color: #404040;
  color: #80a090;
  font-family: 'Overpass', sans-serif;
}

.my-name{
  font-size: 7rem;
  text-align: center;
  font-weight: bold;
}

.my-description{
  font-size: 3rem;
  text-align: center;
}

.ramblings-links{
  font-size: 1.5rem;
  text-align: left;
  color: #8080ff;
}

.ramblings{
  font-size: 1rem;
  text-align: left;
}

.centered-image{
  text-align: center;
}

.project-container{
  width: 85%;
  height: 100vh;
  text-align: left;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.project-image{
  width: 35%;
}

.project-text{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 1.5rem;
}

.project-name{
  font-size: 3.5rem;
}

.link{
  color: #8080ff;
}

.gfg{
  font-size: 25pt;
}


.table-head{
  font-size: 16pt;
  text-align: left;
}
.table{
  font-size: 14pt;
  text-align: left;
}
.table-link{
  color: #8080ff
}

table, th, td {
  border: 1px solid white;
}
th, td {
  background-color: black;
}


.subway{
  height:3129
}

.contact{
  width: 85%;
  height: 100vh;
  text-align: center;
  font-size: 1.5rem;

  display: flex;
  align-items: left;
  justify-content: space-evenly;
}
.contact-img{
  height: 10%;
}

.spacing {
  color: #8800ff
  padding: 50px;
  display: flex;
  align-items: left;
  justify-content: space-evenly;

  position: sticky;
  top: 0;
  left: 0;
}
.row {

  
}

.input {

  
}